<div class="container">
<div class="card-panel white">
  <h3>Detalles de Tarea</h3>

<p>
  <strong>Nombre:</strong>
  <%= @assignment.name %>
</p>
<% if current_user.role == "Teacher" %>
  <%= link_to 'Editar Tarea', edit_group_assignment_path(@group, @assignment), class: "waves-effect waves-light btn" %>
<% end %>
</div>
<div class="card-panel white">

<h3>Reportes</h3>

<% if current_user.role == "Student" %>
  <%= link_to 'Nuevo Reporte', new_group_assignment_report_path(@group, @assignment), class: "waves-effect waves-light btn" %>
<% end %>

<% if @reports.size == 0 %>

  <h3>No hay reportes</h3>

<% else %>

  <table class="bordered striped">
    <thead>
      <tr>
        <th>Nombre de Archivo</th>
        <th>Estudiante</th>
      </tr>
    </thead>

    <tbody>
      <% @reports.each do |report| %>
        <tr>
          <td><%= report.filename %></td>
          <td><%= report.user.email %></td>
          <% if report.user.email == current_user.email %>
            <td><%= link_to 'Ver Detalles', group_assignment_report_path(report.assignment.group, report.assignment, report) %></td>
            <td><%= link_to 'Borrar', group_assignment_report_path(report.assignment.group, report.assignment, report),
                  method: :delete,
                  data: { confirm: '¿Estas seguro de borrar el reporte?' } %></td>
          <% end %>

        <% if current_user.role == "Teacher" %>
          <td><%= link_to 'Ver Detalle', group_assignment_report_path(report.assignment.group, report.assignment, report) %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
</div>

<br>


<!-- <%= link_to 'Back', group_path(@group) %> -->

</div>
