<h1>Assignment Details</h1>

<p>
  <strong>Name:</strong>
  <%= @assignment.name %>
</p>

<h1>Reports</h1>
<% if current_user.role == "Student" %>
  <%= link_to 'New Report', new_group_assignment_report_path(@group, @assignment) %>
<% end %>

<% if @reports.size == 0 %>

  <h3>No reports</h3>

<% else %>

  <table>
    <tr>
      <th>File Name</th>
      <th>Student</th>
    </tr>

    <% @reports.each do |report| %>
      <tr>
        <td><%= report.filename %></td>
        <td><%= report.user.email %></td<>
        <% if report.user.email == current_user.email %>
          <td><%= link_to 'Show', group_assignment_report_path(report.assignment.group, report.assignment, report) %></td>
          <td><%= link_to 'Edit', edit_group_assignment_report_path(report.assignment.group, report.assignment, report) %></td>
          <td><%= link_to 'Delete', group_assignment_report_path(report.assignment.group, report.assignment, report),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
        <% end %>

        <% if current_user.role == "Teacher" %>
          <td><%= link_to 'Show', group_assignment_report_path(report.assignment.group, report.assignment, report) %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>

<br>

<% if current_user.role == "Teacher" %>
  <%= link_to 'Edit Assignment', edit_group_assignment_path(@group, @assignment) %> |
<% end %>
<%= link_to 'Back', group_path(@group) %>
