<%=link_to 'Log Out', destroy_user_session_path, :method=>'delete' %>
<h1>Your Groups</h1>
<% if current_user.role == "Teacher" %>
  <%= link_to 'New Group', new_group_path %>
<% end %>

<% if current_user.groups.size == 0 %>

  <h3>No groups</h3>

<% else %>

  <table>
    <tr>
      <th>Name</th>
      <th>Schedule</th>
    </tr>

    <% @groups.each do |group| %>
      <tr>
        <% if group.active == true %>
          <td><%= group.name %></td>
          <td><%= group.schedule %></td>
          <td><%= link_to 'Show', group_path(group) %></td>
          <% if current_user.role == "Teacher" %>
            <td><%= link_to 'Edit', edit_group_path(group) %></td>
            <td><%= link_to 'Disable', group_path(group),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>


<% if current_user.role == "Student" %>
  <h1>Your Reports</h1>
  <% if current_user.reports.size == 0 %>

    <h3>No reports</h3>

  <% else %>

    <table>
      <tr>
        <th>File Name</th>
      </tr>

      <% @reports.each do |report| %>
        <tr>
          <td><%= report.filename %></td>
          <td><%= link_to 'Show', group_assignment_report_path(report.assignment.group, report.assignment, report) %></td>
        </tr>
      <% end %>
    </table>
  <% end %>

  <h1>Reports Shared With You</h1>
  <% if @shared_reports.size == 0 %>

    <h3>No shared reports</h3>

  <% else %>

    <table>
      <tr>
        <th>File Name</th>
      </tr>

      <% @shared_reports.each do |report| %>
        <tr>
          <td><%= report.filename %></td>
          <td><%= link_to 'Show', group_assignment_report_path(report.assignment.group, report.assignment, report) %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>
