<h1>New Group</h1>

<%= simple_form_for @group do |f| %>
  <%= f.input :name %>
  <%= f.input :schedule %>
  <%= f.association :users, collection: User.all,  label_method: :email, as: :check_boxes %>
  <%= f.button :submit %>
<% end %>
