<!DOCTYPE html>
<html>
  <head>
    <title>ChemWork</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class = "grey lighten-3">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="center">
      <%= link_to root_path do %>
        <%= image_tag "/assets/Logo.jpeg", class: "cover" %>
      <% end %>
    </div>

    <%= yield %>

  </body>
</html>
